/* style.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.thermometer-wrapper {
    display: flex;
    align-items: flex-end;
}

.scale {
    margin-right: 15px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui igualmente as marcações */
    height: 400px; /* Altura igual à do termômetro */
}

.percent-label {
    font-size: 14px;
    line-height: normal;
}

.thermometer-container {
    text-align: center;
    position: relative;
    height: 400px; /* Altura do termômetro */
}

.thermometer {
    width: 60px;
    height: 100%;
    background-color: #eee;
    border-radius: 30px;
    border: 2px solid #555;
    position: relative;
    overflow: hidden;
}

#thermometer-fill {
    width: 100%;
    height: 0%; /* Inicializado vazio */
    background: linear-gradient(to top, #e74c3c, #ff6b6b);
    position: absolute;
    bottom: 0;
    border-radius: 30px;
    transition: height 0.5s ease-in-out;
}

#temperature-value {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
